{% extends 'home/base.html' %}{% block content %}

    <!--Welcome Hero-->
    <main class="pb-5">
      <div class="px-4 py-5 my-5 text-center">
        <!--<img class="d-block mx-auto mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
        <h1 class="display-5 fw-bold">Welcome to the Customer Module</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            This is the part of the application that will have all the customer
            information
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <!--<button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>-->
          </div>
        </div>
      </div>

      <!--Customer Dashboard-->

      <div class="container p-5">
        <h1 class="pb-5">Customer Dashboard</h1>
        <div class="row">
          <div class="col-4 border" style="height: 250px">
            <h2 class="p-2">Metric 1</h2>
          </div>
          <div class="col-4 border" style="height: 250px">
            <h2 class="p-2">Metric 2</h2>
          </div>
          <div class="col-4 border" style="height: 250px">
            <h2 class="p-2">Metric 3</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-4 border" style="height: 250px">
            <h2 class="p-2">Metric 4</h2>
          </div>
          <div class="col-4 border" style="height: 250px">
            <h2 class="p-2">Metric 5</h2>
          </div>
          <div class="col-4 border" style="height: 250px">
            <h2 class="p-2">Metric 6</h2>
          </div>
        </div>
      </div>

              <!--Customer Table-->

      <div class="container w-100">
        <div class="d-flex justify-content-between align-content-center">
          <h1 class="pb-5">Customers</h1>
          <a
            class="btn btn-primary justify-content-end"
            href="newcustomer.html"
            style="height: 40px"
            >Add New Customer</a
          >
        </div>
        <table class="table table-bordered table-responsive table-hover">
          <thead>
            <tr>
              <th>Customer ID</th>
              <th>Customer Name</th>
              <th>Customer Address</th>
              <th>Address Line 2</th>
              <th>Customer City</th>
              <th>Customer State</th>
              <th>Customer Zip</th>
              <th>Customer Phone</th>
            </tr>
          </thead>
          {% for i in co %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.company_namr }}</td>
                <td>{{ i.company_address1 }}</td>
                <td>{{ i.company_address2 }}</td>
                <td>{{ i.company_city }}</td>
                <td>{{ i.company_state }}</td>
                <td>{{ i.company_zip }}</td>
                <td>{{ i.company_phone }}</td>
            </tr>
            {% endfor %}
        </table>
      </div>
{% endblock %}