<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>H&L Metals Work Portal New Trucking Company</title>

    <!--Bootstrap CDN-->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!--Header-->

    <div class="container">
      <header
        class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
      >
        <a
          href="/"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
        >
          <!--<svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>-->
          <span class="fs-4">H&L Metals Work Portal</span>
        </a>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="../../../home/templates/home/main.html">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="../customer/customer.html"
              data-bs-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              id="dropdownCustomer"
              >Customer</a
            >
            <div class="dropdown-menu" aria-labelledby="dropdownCustomer">
              <a class="dropdown-item" href="../customer/customer.html">Customer Module</a>
              <a class="dropdown-item" href="../customer/newcustomer.html"
                >Add New Customer</a
              >
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle active"
              data-bs-toggle="dropdown"
              href="../../../logistics/templates/logistics.html"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              id="dropdownLogistics"
              >Logistics</a
            >
            <div class="dropdown-menu" aria-labelledby="dropdownLogistics">
              <a class="dropdown-item" href="../../../logistics/templates/logistics.html"
                >Logistics Module</a
              >
              <h6 class="dropdown-header">Trailer</h6>
              <a class="dropdown-item" href="../../../logistics/templates/trailer.html"
                >Trailer Management</a
              >
              <a class="dropdown-item" href="../../../logistics/templates/newtrailer.html"
                >Add New Trailer</a
              >
              <h6 class="dropdown-header">Trucking Company</h6>
              <a class="dropdown-item active" href="trucking.html"
                >Trucking Company Management</a
              >
              <a class="dropdown-item" href="newtrucking.html"
                >Add New Trucking Company</a
              >
              <h6 class="dropdown-header">Pickup</h6>
              <a class="dropdown-item" href="../../../logistics/templates/pickup.html">Pickup Management</a>
              <a class="dropdown-item" href="../../../logistics/templates/newpickup.html">Add New Pickup</a>
              <h6 class="dropdown-header">Delivery</h6>
              <a class="dropdown-item" href="../../../logistics/templates/delivery.html"
                >Delivery Management</a
              >
              <a class="dropdown-item" href="../../../logistics/templates/newdelivery.html"
                >Add New Delivery</a
              >
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="../recyclers/recycler.html"
              role="button"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Recycler</a
            >
            <div class="dropdown-menu">
              <a class="dropdown-item" href="../recyclers/recycler.html">Recycler Module</a>
              <h6 class="dropdown-header">Recycling Company</h6>
              <a class="dropdown-item" href="../../../recycler/templates/recyclerhome.html"
                >Recycler Management</a
              >
              <a class="dropdown-item" href="../recyclers/newrecycler.html"
                >Add New Recycler</a
              >
              <h6 class="dropdown-header">Recycling Jobs</h6>
              <a class="dropdown-item" href="../../../recycler/templates/jobs.html">Job Management</a>
              <a class="dropdown-item" href="../../../recycler/templates/newjobs.html">Add New Job</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="../../../accounting/templates/accounting.html"
              role="button"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Accounting</a
            >
            <div class="dropdown-menu">
              <a class="dropdown-item" href="../../../accounting/templates/accounting.html"
                >Accounting Module</a
              >
              <h6 class="dropdown-header">Expenses</h6>
              <a class="dropdown-item" href="../../../accounting/templates/expensereports.html"
                >Expense Reports</a
              >
              <a class="dropdown-item" href="../vendors/vendor.html">Vendor Management</a>
              <a class="dropdown-item" href="../../../accounting/templates/ap.html">Account Payables</a>
              <h6 class="dropdown-header">Income</h6>
              <a class="dropdown-item" href="../../../accounting/templates/sales.html">Sales Management</a>
              <a class="dropdown-item" href="../../../accounting/templates/ar.html">Account Receivables</a>
              <h6 class="dropdown-header">Accounts</h6>
              <a class="dropdown-item" href="../../../accounting/templates/gl.html">General Ledger</a>
              <a class="dropdown-item" href="../../../accounting/templates/coa.html">Chart of Accounts</a>
              <a class="dropdown-item" href="../../../accounting/templates/banks.html">Banking</a>
              <a class="dropdown-item" href="../../../accounting/templates/asset.html">Asset Management</a>
              <a class="dropdown-item" href="../../../accounting/templates/acctreports.html"
                >Financial Reports</a
              >
              <h6 class="dropdown-header">Budgeting and Forecasting</h6>
              <a class="dropdown-item" href="../../../accounting/templates/budget.html"
                >Budgeting and Forecasting</a
              >
              <a class="" href=""></a>
            </div>
          </li>
        </ul>
      </header>
    </div>

    <!--Add New Trucking Company Form-->
    <main>
      <div class="container text-center">
        <h1 class="p-5">Add New Trucking Company</h1>
      </div>
      <div class="container">
        <div class="d-flex justify-content-center">
          <form action="" class="w-75">
            <div class="form-floating p-1">
              <input
                type="text"
                class="form-control"
                id="truckingID"
                placeholder="..."
                disabled
              />
              <label for="truckingID">Trucking Compmay ID</label>
            </div>
            <div class="form-floating p-1">
              <input
                type="text"
                class="form-control"
                id="truckingName"
                placeholder="..."
              />
              <label for="truckingName">Trucking Company Name</label>
            </div>
            <div class="form-floating p-1">
              <input
                type="text"
                class="form-control"
                id="truckingAddress1"
                placeholder="..."
              />
              <label for="truckingAddress1">Trucking Company Address</label>
            </div>
            <div class="form-floating p-1">
              <input
                type="text"
                class="form-control"
                id="truckingAddress2"
                placeholder="..."
              />
              <label for="truckingAddress2">Address Line 2</label>
            </div>
            <div class="form-floating p-1">
              <input
                type="text"
                class="form-control"
                id="truckingCity"
                placeholder="..."
              />
              <label for="ruckingCity">City</label>
            </div>
            <div class="form-floating p-1">
              <input
                type="text"
                class="form-control"
                id="truckingState"
                placeholder="..."
              />
              <label for="truckingState">State</label>
            </div>
            <div class="form-floating p-1">
              <input
                type="text"
                class="form-control"
                id="truckingZip"
                placeholder="..."
              />
              <label for="truckingZip">Zip</label>
            </div>
            <div class="form-floating p-1">
              <input
                type="text"
                class="form-control"
                id="truckingPhone"
                placeholder="..."
              />
              <label for="truckingPhone">Phone</label>
            </div>
            <div class="p-1">
              <input
                type="checkbox"
                class="form-check-input"
                id="truckingActive"
                value=""
                checked
                disabled
              />
              <label for="truckingActive">Active</label>
            </div>
            <input
              type="submit"
              class="btn btn-primary mb-5 mt-1"
              value="Add New Trucking Company"
            />
          </form>
        </div>
      </div>
    </main>

    <!--Footer-->

    <footer class="container footer mt-auto py-3 bg-light">
      <div class="d-flex justify-content-between">
        <span class="text-muted p-3">© H&L Metals 2022</span>
        <span class="text-muted text-end p-3">Powered by Novamacro</span>
      </div>
    </footer>

    <!--Bootstrap JS and Popper CDN-->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
