<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>H&L Metals Work Portal Login</title>

    <!--Bootstrap CSS CDN-->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body class="text-centered">
    <!--Welcome Hero-->
    <!--Needed Items:
    1. H&L Metals logo-->

    <div class="px-4 py-5 my-5 text-center">
      <!--<img class="d-block mx-auto mb-4" src="" alt="" width="72" height="57">-->
      <h1 class="display-5 fw-bold">Welcome to the H&L Metals Work Portal</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          This portal is intended for H&L Metals employees only. If you require
          access please contact a member of Technical Support.
        </p>
      </div>
    </div>

    <!--Login Form-->

    <div class="form-signin w-50 m-auto">
      <h1 class="h3 mb-3 fw-normal justify-center">Please sign in</h1>
      {% if form.errors %}
      <p class="text-danger">Email or Password is invalid</p>
      {% endif %} {% if next %}
      <p class="text-danger">
        Access is denied, please contact an Administrator
      </p>
      {% endif %}
      <form action="POST">
        <div class="form-floating">
          {{ form.email }}
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          {{ form.password }}
          <label for="floatingPassword">Password</label>
        </div>
        <br />
        <input
          class="w-100 btn btn-lg btn-primary"
          type="submit"
          value="Sign in"
        />
      </form>
    </div>

    <!--Website footer-->

    <br />

    <footer class="container footer mt-auto py-3 bg-light">
      <div class="d-flex justify-content-between">
        <span class="text-muted p-3">© H&L Metals 2022</span>
        <span class="text-muted text-end p-3">Powered by Novamacro</span>
      </div>
    </footer>

    <!--Bootstrap JS and Popper CDN-->

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
