<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>H&L Metals Work Portal New Trailer</title>

    <!--Bootstrap CDN-->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!--Header-->

    <div class="container">
      <header
        class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
      >
        <a
          href="/"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
        >
          <!--<svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>-->
          <span class="fs-4">H&L Metals Work Portal</span>
        </a>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="main.html">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="customer.html"
              data-bs-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              id="dropdownCustomer"
              >Customer</a
            >
            <div class="dropdown-menu" aria-labelledby="dropdownCustomer">
              <a class="dropdown-item" href="customer.html">Customer Module</a>
              <a class="dropdown-item" href="newcustomer.html"
                >Add New Customer</a
              >
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle active"
              data-bs-toggle="dropdown"
              href="logistics.html"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              id="dropdownLogistics"
              >Logistics</a
            >
            <div class="dropdown-menu" aria-labelledby="dropdownLogistics">
              <a class="dropdown-item" href="logistics.html"
                >Logistics Module</a
              >
              <h6 class="dropdown-header">Trailer</h6>
              <a class="dropdown-item" href="trailer.html"
                >Trailer Management</a
              >
              <a class="dropdown-item active" href="newtrailer.html"
                >Add New Trailer</a
              >
              <h6 class="dropdown-header">Trucking Company</h6>
              <a class="dropdown-item" href="trucking.html"
                >Trucking Company Management</a
              >
              <a class="dropdown-item" href="newtrucking.html"
                >Add New Trucking Company</a
              >
              <h6 class="dropdown-header">Pickup</h6>
              <a class="dropdown-item" href="pickup.html">Pickup Management</a>
              <a class="dropdown-item" href="newpickup.html">Add New Pickup</a>
              <h6 class="dropdown-header">Delivery</h6>
              <a class="dropdown-item" href="delivery.html"
                >Delivery Management</a
              >
              <a class="dropdown-item" href="newdelivery.html"
                >Add New Delivery</a
              >
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="recycler.html"
              role="button"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Recycler</a
            >
            <div class="dropdown-menu">
              <a class="dropdown-item" href="recycler.html">Recycler Module</a>
              <h6 class="dropdown-header">Recycling Company</h6>
              <a class="dropdown-item" href="recyclerhome.html"
                >Recycler Management</a
              >
              <a class="dropdown-item" href="newrecycler.html"
                >Add New Recycler</a
              >
              <h6 class="dropdown-header">Recycling Jobs</h6>
              <a class="dropdown-item" href="jobs.html">Job Management</a>
              <a class="dropdown-item" href="newjobs.html">Add New Job</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="accounting.html"
              role="button"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Accounting</a
            >
            <div class="dropdown-menu">
              <a class="dropdown-item" href="accounting.html"
                >Accounting Module</a
              >
              <h6 class="dropdown-header">Expenses</h6>
              <a class="dropdown-item" href="expensereports.html"
                >Expense Reports</a
              >
              <a class="dropdown-item" href="vendor.html">Vendor Management</a>
              <a class="dropdown-item" href="ap.html">Account Payables</a>
              <h6 class="dropdown-header">Income</h6>
              <a class="dropdown-item" href="sales.html">Sales Management</a>
              <a class="dropdown-item" href="ar.html">Account Receivables</a>
              <h6 class="dropdown-header">Accounts</h6>
              <a class="dropdown-item" href="gl.html">General Ledger</a>
              <a class="dropdown-item" href="coa.html">Chart of Accounts</a>
              <a class="dropdown-item" href="banks.html">Banking</a>
              <a class="dropdown-item" href="asset.html">Asset Management</a>
              <a class="dropdown-item" href="acctreports.html"
                >Financial Reports</a
              >
              <h6 class="dropdown-header">Budgeting and Forecasting</h6>
              <a class="dropdown-item" href="budget.html"
                >Budgeting and Forecasting</a
              >
              <a class="" href=""></a>
            </div>
          </li>
        </ul>
      </header>
    </div>

    <!--Add New Trailer Form-->

    <main>
      <div class="container text-center">
        <h1 class="p-5">Add New Trailer</h1>
      </div>
      <div class="container">
        <div class="d-flex justify-content-center">
          <form action="" class="w-75">
            <div class="form-floating p-1">
              <input
                type="text"
                class="form-control"
                id="trailerID"
                placeholder="..."
                disabled
              />
              <label for="trailerID">Trailer ID</label>
            </div>
            <div class="form-floating p-1">
              <select
                class="form-select"
                id="trailerType"
                aria-label="Trailer Type selection"
              >
                <option value="1">Van Trailer</option>
                <option value="2">Dump Trailer</option>
                <option value="3">Roll Off Trailer</option>
              </select>
              <label for="trailerType">Trailer Type</label>
            </div>
            <div class="form-floating p-1">
              <input
                type="text"
                class="form-control"
                id="trailerLength"
                placeholder="..."
              />
              <label for="trailerLength">Trailer Length</label>
            </div>
            <div class="form-floating p-1">
              <input
                type="text"
                class="form-control"
                id="trailerTag"
                placeholder="..."
              />
              <label for="trailerTag">Trailer Tag</label>
            </div>
            <div class="form-floating p-1">
              <input type="date" class="form-control" id="trailerTageRenewal" />
              <label for="trailerTageRenewal">Trailer Tage Renewal Date</label>
            </div>
            <div class="form-floating p-1">
              <input
                type="date"
                class="form-control"
                id="trailerPurchaseDate"
              />
              <label for="trailerPurchaseDate">Trailer Purchase Date</label>
            </div>
            <div class="form-floating p-1">
              <input type="date" class="form-control" id="trailerSellDate" />
              <label for="trailerSellDate">Trailer Sell Date</label>
            </div>
            <div class="form-floating p-1">
              <input
                type="text"
                class="form-control"
                id="trailerStatus"
                placeholder="..."
                disabled
              />
              <label for="trailerStatus">Trailer Status</label>
            </div>
            <input
              type="submit"
              class="btn btn-primary mt-1"
              value="Add New Trailer"
            />
          </form>
        </div>
      </div>
    </main>

    <!--Footer-->

    <footer class="container footer mt-auto py-3 bg-light">
      <div class="d-flex justify-content-between">
        <span class="text-muted p-3">© H&L Metals 2022</span>
        <span class="text-muted text-end p-3">Powered by Novamacro</span>
      </div>
    </footer>

    <!-- Bootstrap JS and Popper CDN -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
