{% extends 'home/base.html' %}{% block content %}
<!--Communications/Dashboard - TBD by Jim-->

<div class="container text-center">
  <h1 class="p-5">H&L Metal News</h1>
  <!--Carosuel of Cards-->
  <div class="row justify-content-center">
    <div class="card" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <!--6 most used metrcis-->
  <div class="container">
    <h1 class="p-5">Customer Dashboard</h1>
    <div class="row">
      <div class="col-4 border" style="height: 250px">
        <h2 class="p-2">Metric 1</h2>
      </div>
      <div class="col-4 border" style="height: 250px">
        <h2 class="p-2">Metric 2</h2>
      </div>
      <div class="col-4 border" style="height: 250px">
        <h2 class="p-2">Metric 3</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-4 border" style="height: 250px">
        <h2 class="p-2">Metric 4</h2>
      </div>
      <div class="col-4 border" style="height: 250px">
        <h2 class="p-2">Metric 5</h2>
      </div>
      <div class="col-4 border" style="height: 250px">
        <h2 class="p-2">Metric 6</h2>
      </div>
    </div>
  </div>

  <!--6 most used metrcis-->
  <div class="container">
    <h1 class="p-5">Logisitics Dashboard</h1>
    <div class="row">
      <div class="col-4 border" style="height: 250px">
        <h2 class="p-2">Metric 1</h2>
      </div>
      <div class="col-4 border" style="height: 250px">
        <h2 class="p-2">Metric 2</h2>
      </div>
      <div class="col-4 border" style="height: 250px">
        <h2 class="p-2">Metric 3</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-4 border" style="height: 250px">
        <h2 class="p-2">Metric 4</h2>
      </div>
      <div class="col-4 border" style="height: 250px">
        <h2 class="p-2">Metric 5</h2>
      </div>
      <div class="col-4 border" style="height: 250px">
        <h2 class="p-2">Metric 6</h2>
      </div>
    </div>
  </div>

  <!--6 most used metrcis-->
  <div class="container">
    <h1 class="p-5">Recycling Dashboard</h1>
    <div class="row">
      <div class="col-4 border" style="height: 250px">
        <h2 class="p-2">Metric 1</h2>
      </div>
      <div class="col-4 border" style="height: 250px">
        <h2 class="p-2">Metric 2</h2>
      </div>
      <div class="col-4 border" style="height: 250px">
        <h2 class="p-2">Metric 3</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-4 border" style="height: 250px">
        <h2 class="p-2">Metric 4</h2>
      </div>
      <div class="col-4 border" style="height: 250px">
        <h2 class="p-2">Metric 5</h2>
      </div>
      <div class="col-4 border" style="height: 250px">
        <h2 class="p-2">Metric 6</h2>
      </div>
    </div>
  </div>

  <h1 class="p-5">Accounting Dashboard</h1>
  <!--6 most used metrcis-->
  <div class="container">
    <div class="row">
      <div class="col-4 border" style="height: 250px">
        <h2 class="p-2">Metric 1</h2>
      </div>
      <div class="col-4 border" style="height: 250px">
        <h2 class="p-2">Metric 2</h2>
      </div>
      <div class="col-4 border" style="height: 250px">
        <h2 class="p-2">Metric 3</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-4 border" style="height: 250px">
        <h2 class="p-2">Metric 4</h2>
      </div>
      <div class="col-4 border" style="height: 250px">
        <h2 class="p-2">Metric 5</h2>
      </div>
      <div class="col-4 border" style="height: 250px">
        <h2 class="p-2">Metric 6</h2>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
